<section class="section is-hero home-hero mb-2">
    <div class="container">
        <div class="columns is-centered">
            <div class="section-header has-text-centered">
                <h1 class="title is-spaced has-text-success-dark">Welcome! You're logged in!</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="columns is-mobile is-centered">
        <div class="column content is-half has-text-centered">
            <br />
            <div class="column">
                <a href="/grocery"><img src="../images/my-shopping-list.png" /></a>
            </div>
            <br />
            <div class="column">
                <a href="/pantry"><img src="../images/my-pantry.png"></a>
            </div>
            <br />
            <div class="column">
                <a href="/recipes"><img src="../images/my-recipes.png"></a>
            </div>
            <br />
        </div>
    </div>
</section>

